:root{
    --primary-color: #005A9C;
    --secondary-color: #333333;
    --background-color: #F8F9FA;
    --accent-color: #E0A800;
    --border-color: #dee2e6;
    --heading-font: 'Montserrat', sans-serif;
    --body-font: 'Lato', sans-serif;
    --main-font:'Roboto';
    --secondary-font:'Sofia';
    --text-color: black;

}

body {
    font-family: var(--main-font),sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
}

header{
    background: var(--accent-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:1rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom:1%;
    position: fixed;
    width: 100%;

}

.profile-pic{
    width: 60px;
    height: auto;

}

.name{
    font-family: var(--secondary-font);
    font-size: 2rem;
}

#menu{
    background: var(--primary-color);
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

nav ul{
    list-style:none;
    display: none;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
nav ul.show {
    display: flex;
  }

  nav a {
    text-decoration: none;
    padding: 0.5rem;
    color: var(--text-color);
    gap: 0.5rem;
  }
  nav a.active{
    color: green;
    font-weight: 700;
  }
  nav a:hover {
    color:var(--primary-color);
    font-weight: 700;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "✖"; 
}

h1{
    font-size: 2rem;
}

section{
    margin-top:2rem;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}


.card {
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    border-radius: 10px;

}

h2 {
    margin-top: 0;
    background-color: darkslategrey;
    text-align: center;
    color: #f0f0f0;
    padding: 10px;
}

.courses{
    border: solid black;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.courses.completed {
    background-color: #d4edda;
    border-color: #28a745;
    color: #155724;
  }

.flag{
    width: 20%;
    height: auto;
    vertical-align: middle;
}

.filters {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0;
  }

.filters button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }

  .filters button {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
  }


